<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sailing on node</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS END-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="row">
              <!-- if session is set check before displaying profile -->
              <% if(session.me){%>

              <div
                class="col-md-4"
                style="background: url('<%= banner %>'); background-size: cover;"
              >
                <div class="photo">
                  <img src="<%= photo %>" alt="" />
                </div>
              </div>
              <div class="col-md-4">
                <h1><%= userdetail.name %></h1>
                <h5><strong><%= userdetail.hanle %></strong></h5>
                <h4><%= userdetail.desc %></h4>
                <h5><%= userdetail.location %></h5>
              </div>
              <div class="col-md-4">
                <h4>followers: <%= userdetail.followers %></h4>
                <h4>verifed: <%= userdetail.verifed %></h4>
              </div>
              <!-- end of seesion check -->
              <%} else {%>

              <div class="col-md-12">
                <h1 class="text-center text-info">You are not logged in</h1>
              </div>

              <%}%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </body>
</html>
